*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    align-items:center;
}
.register{
    display:flex;
    flex-direction:column;
    background-color:var(--lightGray);
    margin:0 auto;
    height:520px;
    width:338px;
    align-items:center;
    padding:0px 15px 0 15px;
    border-radius:20px;
    box-shadow: 1px 3px 6px rgb(0 0 0 / 0.16);
}
.register__icon{
    height:81px;
    width:81px;
    margin-top:24px;
    margin-bottom:12px;
}
.register__label{
    margin-bottom:42px;
    font-size:20px;
    font-weight:400;
}
.register__email{
    margin-bottom:25px;
}
.register__name{
    margin-bottom:25px;
}
.login__input{
    width:100%;
   height:38px;
   font-size:15px;
   letter-spacing:0.14px;
   padding:0 14px;
   border:1px solid var(--line);
   border-radius:4px;
}
::placeholder{
    color:var(--line);
}
.register__rememberMe{
    margin-top:14px;
    margin-bottom:17px;
}
.register__register{
    margin:0 auto;
    cursor:pointer;
}
/* FORM EMAIL */
.register__link{
    text-decoration:none;
    color:var(--textGray);
    margin-top:15px;
}
.register__registerBtn{
    width:97px;
    height:32px;
    margin-top:27px;
}