body{
    height:100vh;
    display:flex;
    align-items:center;
}
.email{
    display:flex;
    flex-direction:column;
    background-color:var(--lightGray);
    margin:0 auto;
    align-items:center;
    padding:0px 15px 0 15px;
    border-radius:20px;
    box-shadow: 1px 3px 6px rgb(0 0 0 / 0.16);
}
.email__icon{
    height:81px;
    width:81px;
    margin-top:29px;
    margin-bottom:29px;
}
.email__changeBtn{
    background-color:var(--blue);
    width:83px;
    height:32px;
    border-radius:4px;
    border:none;
    cursor:pointer;
    font-size:12px;
    margin-bottom:30px;
    color:var(--btnText);
    margin-top:30.5px;
}
.email__input{
    width:100%;
   height:38px;
   width:308px;
   font-size:15px;
   letter-spacing:0.14px;
   padding:0px 15px;
   border:1px solid var(--line);
   border-radius:4px;
}
.email__description{
    font-size:12px;
    line-height:11px;
    color:var(--textGray);
}
.email__link{
    text-decoration:none;
    color:var(--textGray);
    cursor:pointer;
}
.email__return {
border:none;
background-color:transparent;
}