*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.body{
    background-color:var(--lightGray);
    z-index:-1;
    min-height:100vh;
}
.zahtev{
    display:flex;
    flex-direction: column;
    gap:25px;
    color:var(--blackish);
    font-size:14px;
}
.zahtev__input{
    color:var(--textGray);
    font-size:15px;
    letter-spacing:0.14px;
    line-height:13px;
    border:1px solid var(--line);
    border-radius:4px;
    padding-top:8px;
    padding-bottom:16.5px;
    padding-left:14px;
    width:620px;
}
.zahtev__Checkbox{
margin-left:13px;
}
.zahtev__checkboxArea{
    display:flex;
    flex-direction:column;
    gap:15px;
}
input[type=checkbox] {
    margin-right:10px;
}

::placeholder{
    color:var(--line);
}
.zahtev__btn{
    width:83px;
    height:32px;
}