
body{
    background-color:var(--lightGray);
    z-index:-1;
}
hr{
    width:100%;
}
.main{
    position:relative;
}
.main__h2-hr{
    position:absolute;
    width:100%;
    left:0;
    border:1px solid var(--lightGray);
}
.main__poništiContainer{
display:flex;
justify-content:flex-end;
width:100%;
}
.main__btnPoništi{
border:none;
cursor:pointer;
background-color:transparent;
}
.main__prikazContainer{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    align-items:center;
    margin-top:64px;
    color:var(--textGray);
}
.main__brojPrikaza{
display:flex;
flex-direction:row;
gap:10px;
}
.main__inputNumElements{
    max-width:40px;
    text-align:center;
    align-items:center;
    border-radius:4px;
    border:1px solid var(--textGray);
}
.main__pretragaContainer{
    display:flex;
    flex-direction:row;
    gap:10px;
}
.main__inputPretraga{
    border:1px solid var(--textGray);
    border-radius:4px;
}
.main__searchUl{
    margin-top:30px;
    width:100%;
    text-align:center;
    align-content:center;
    border-spacing:0;
    color:var(--tableTxt);
}

.main__tableHeader > tr > th{
    min-height:50px;
    padding:20px 0;
}
.main__tableHeader{
    background-color:var(--blueVariant2);
}
.main__view--zahtevi{
    display:flex;
    flex-direction:row;
    width:100%;
    height:70px;
    align-items:center;
    justify-content:space-between;
    border-radius:4px;
}
td {
    min-height:50px;
    padding:20px 0;
    border-top:2px solid var(--lightGray);
}
.main__view2--zahtevi{
    margin-top:39px;
}
.main__viewWrap-1--zahtevi{
    display:flex;
}
.main__pageItemNum{
    font-size:14px;
    color:var(--textGray);
}
.main__viewWrap-2--zahtevi{
        display:flex;
        flex-direction:row;
        align-items:center;
        font-size:16px;
        color:var(--textGray);
        border:1px solid var(--blueVariant);
        border-radius:4px;
        right:15px;
}
.main__page--zahtevi{
    padding:7.5px;
    background-color: var(--white);
    border:none;
    cursor: pointer;  
}
.leftBtn{
    border-right:1px solid var(--blueVariant);
}
.main__korisnici-Action{
    max-width:100%;
}
.main__korisnici-Action--EditBtn{
    margin-right:15px;
}
.main__korisnici-ActionBtn{
    border:none;
    background-color:transparent;
    height:30px;
    width:30px;
    cursor:pointer;
}